*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100px;
    background-color: #223343;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_text{
    font-size: 30px;
    font-weight: bold;
    color:white;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_text{
    margin: 30px  0px 15px;
    font-size: 20px;
    font-weight: bold;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form_item{
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap:20px;
}
label{
    font-size: 20px;
}
input{
    height: 30px;
    width: 180px;
    caret-color:#ccdee8;
    font-size: 15px;
}
input:focus{
    border: 2px solid #223343;
    outline: none;
    border-radius: 5px;
}
.checkbox{
    margin: 0;
    height: 20px;
    width: 20px;
    accent-color:#223343;
}
button{
    width: 80px;
    padding: 8px 0;
    border-radius:5px;
    border: 1px solid #223343;
    font-size:15px;
    cursor: pointer;
}
button:hover{
    background-color: #ccdee8;
}
hr {
    margin: 20px 0;
    width: 100%;
}
.notification{
    font-size: 20px;
    margin: 40px 0;
}
.return_link{
    width: 160px;
    height: 30px;
    padding: 8px 0;
    border-radius: 5px;
    border: 1px solid #223343;
    background-color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return_link a{
    text-decoration: none;
    font-size: 20px;
    color:#223343;
}
.return_link:hover {
    background-color: #ccdee8;
}

@media (max-width:400px) {
.title_text {
        font-size: 20px;
}
}